<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Not Logged In" verbose="1" >
    <test name="Pages" >
        <classes>
            <class name="Tests.LoginTest"/>
            <class name="Tests.HomePageTest"/>
            <class name="Tests.HerokuAppTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="BaseTestSetup.RetryListener"/>
    </listeners>

</suite>
